bin
packages
obj
bin/
packages/
obj/

*/bin
*/packages
*/obj
*/bin/
*/packages/
*/obj/

[Bb]in
[Oo]bj
[Bb]in/
[Oo]bj/
*.suo
*.user
/DatabaseScriptExecutorTests/bin
/DatabaseScriptExecutorTests/obj
/DatabaseScriptExecutor/bin
.vs/
