<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
    <add name="RAMaster" connectionString="data source=uat-sql-uk1.rosslynanalytics.com;Initial Catalog=V8AdminUat;User id=RapidAdmin;Password=!7DaBj0#81" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="sqlString" value="use [{0}] 
                                if exists (select * from INFORMATION_SCHEMA.TABLES where table_schema = 'ContractManagement' and TABLE_NAME = 'contract')
                                and 
                                not exists
                                (
                                select * from INFORMATION_SCHEMA.COLUMNS 
                                where table_schema = 'ContractManagement' 
                                and TABLE_NAME = 'contract'
                                and COLUMN_NAME = 'ContactInternalStakeholders'
                                )

                                BEGIN
                                EXEC('ALTER TABLE   ContractManagement.Contract 
                                ADD    ContactInternalStakeholders nvarchar(255);')
                                END

                                if exists (select * from INFORMATION_SCHEMA.TABLES where table_schema = 'ContractManagement' and TABLE_NAME = 'Contract_Aggregate')
                                BEGIN
                                Exec('ALTER VIEW [ContractManagement].[Contract_Aggregate]
                                AS
                                (
                                SELECT 
                                --ContractHeader
                                c.Id, c.ParentId, c.Code, c.Name, c.ContractTypeId, c.VendorId, --c.CategoryId, 
                                c.PaymentTerms, c.ContractStatusId,
                                c.Value, c.CountryId, c.CurrencyId, c.SigningDate, c.RenewalDate, c.StartDate, c.EndDate, c.RenewalTerms, 
                                c.RebateTrigger, c.RebateValue, c.Opportunity, c.Risk, c.Comments,
	          
                                c.GoverningLaw,
                                c.InvoicingId, ic.Name AS InvoicingName,
                                c.TermTypeId, tt.Type AS TermType,
       
                                --Archived
                                c.Archived,
       
                                --Contact
                                c.ContactAddress,
                                c.ContactSignatory,
                                c.ContactInternalStakeholders,
       
                                --Lookup
                                ct.Type AS ContractType,
                                cst.Status AS ContractStatus,
                                ctr.Code AS CountryCode, ctr.Name AS CountryName,
                                cur.Code AS CurrencyCode, cur.Description AS CurrencyDescription,
                                vm.Code AS VendorCode, vm.Name AS VendorName, 
   
                                --ContractParent
                                cp.Code AS ParentCode,
                                cp.Name AS ParentName,
                                --ContractProperty
                                cpr.AnnualRent AS LeaseDetailRent,
                                cpr.Area AS LeaseDetailArea,
                                cpr.AreaUnit AS LeaseDetailAreaUnit,
                                cpr.Comments AS LeaseDetailComments,
                                cpr.CurrencyId AS LeaseDetailCurrency,
                                cpr.PropertyId AS LeaseDetailPropertyId,
                                cpr.ReviewDate AS LeaseDetailReviewDate,
                                cpr.Tenant AS LeaseDetailTenant,
                                pr.Name AS LeaseDetailPropertyName
                                FROM ContractManagement.[Contract] c
                                INNER JOIN ContractManagement.ContractType ct ON c.ContractTypeId = ct.Id
                                INNER JOIN ContractManagement.ContractStatus cst ON c.ContractStatusId = cst.Id
                                LEFT JOIN ContractManagement.Country ctr ON c.CountryId = ctr.Id
                                LEFT JOIN ContractManagement.Currency cur ON c.CurrencyId = cur.Id
                                LEFT JOIN Tagging.VendorMaster vm ON c.VendorId = vm.Id
                                LEFT JOIN ContractManagement.TermType tt ON c.TermTypeId = tt.Id
                                LEFT JOIN ContractManagement.Invoicing ic ON c.InvoicingId = ic.Id
                                LEFT JOIN ContractManagement.[Contract] cp ON c.ParentId = cp.Id
                                LEFT JOIN ContractManagement.ContractProperty AS cpr ON c.Id = cpr.ContractId 
                                LEFT JOIN ContractManagement.Property AS pr ON cpr.PropertyId = pr.Id
                                );')
                                END"/>
  </appSettings>
</configuration>
